	<div class="main-content-header page-header">
		<nav id="secondary-navigation" class="secondary-navigation">
			<ul class="sub-menu clearfix">
				<li class="nav-sub-tabs active"><a href="#">All <span class="badge">85</span></a></li>
				<li class="nav-sub-tabs"><a href="#">Live <span class="badge">15</span></a></li>
				<li class="nav-sub-tabs"><a href="#">Archived <span class="badge">70</span></a></li>
			</ul>
		</nav>		
	</div>

	<div class="container-fluid max-width">
		<ul class="gp-cards-wrapper threeColumnLayout clearfix">
			<li>
				<div class="gp-card gp-party-card">
					<div class="gp-party gp-card-details">

						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
									
								<figcaption>
									<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
									<p>Wiki and Princess Nokia top the bill at this</p>
								</figcaption>
							</span>

							<div class="user-actions">
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 09 June, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i> <strong class="hidden-xs">10:30 AM</strong></span>
							</time>

							<div class="gp-card-actions align-center clearfix">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-party-card -->

				<div class="gp-card gp-small-card gp-party-card">
					<div class="gp-party gp-card-details">

						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
							</span>

							<figcaption>
								<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
								<p>Wiki and Princess Nokia top the bill at this</p>
							</figcaption>

							<div class="user-actions">
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details clearfix">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 09 Jun, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i><!-- 10:30 AM --></span>
							</time>

							<div class="gp-card-actions align-center clearfix pull-right">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-small-party-card --> 
			</li>	

			<li>
				<div class="gp-card gp-small-card gp-party-card">
					<div class="gp-party gp-card-details">

						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
							</span>

							<figcaption>
								<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
								<p>Wiki and Princess Nokia top the bill at this</p>
							</figcaption>

							<div class="user-actions">
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details clearfix">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 09 Jun, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i><!-- 10:30 AM --></span>
							</time>
							
							<div class="gp-card-actions align-center clearfix pull-right">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-small-party-card -->  

				<div class="gp-card gp-party-card">
					<div class="gp-party gp-card-details">
						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
									
								<figcaption>
									<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
									<p>Wiki and Princess Nokia top the bill at this</p>
								</figcaption>
							</span>

							<div class="user-actions">
								<!--
								<button class="user-actions-toggle" role="button">
									<i class="fa fa-navicon"></i>
								</button>
								-->
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 10 May, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i> <strong class="hidden-xs">10:00 PM</strong></span>
							</time>

							<div class="gp-card-actions align-center clearfix">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-party-card -->
			</li>	

			<li>
				<div class="gp-card gp-party-card">
					<div class="gp-party gp-card-details">
						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
									
								<figcaption>
									<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
									<p>Wiki and Princess Nokia top the bill at this</p>
								</figcaption>
							</span>

							<div class="user-actions">
								<!--
								<button class="user-actions-toggle" role="button">
									<i class="fa fa-navicon"></i>
								</button>
								-->
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 10 May, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i> <strong class="hidden-xs">10:00 PM</strong></span>
							</time>

							<div class="gp-card-actions align-center clearfix">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-party-card -->

				<div class="gp-card gp-small-card gp-party-card">
					<div class="gp-party gp-card-details">

						<figure class="gp-party-card-figure">
							<span>
								<div class="img-wrapper">
									<div class="data-img" style="background-image:url('images/wiki-princess-nokia.jpg');"></div>
								</div>
							</span>

							<figcaption>
								<h3 class="gp-card-heading">Wiki + Princess Nokia</h3>
								<p>Wiki and Princess Nokia top the bill at this</p>
							</figcaption>

							<div class="user-actions">
								<button class="user-actions-toggle" role="button">
									<span>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						                <i class="gp gp-slick-line"></i>
						            </span>
					            </button>

								<div class="align-center user-action-options">
					            	<a class="user-action" href="#"><i class="fa fa-pencil"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-share-alt"></i></a>
					            	<a class="user-action" href="#"><i class="fa fa-ban"></i></a>
					            </div>
							</div>
						</figure>						
						
						<div class="gp-party-details clearfix">
							<time class="gp-party-date-time">
								<span class="gp-party-date"><i class="fa fa-calendar-o"></i> 09 Jun, 2016</span>
								<span class="gp-party-time"><i class="fa fa-clock-o"></i><!-- 10:30 AM --></span>
							</time>

							<div class="gp-card-actions align-center clearfix pull-right">
								<button class="btn btn-lg btn-primary call-to-action" ng-click="book(profiletype,name,profilepic,id)" data-toggle="modal" data-target="#">Promote</button><!-- /.call-to-action -->
							</div>
						</div>

					</div>
				</div><!-- /.gp-small-party-card --> 

			</li>	

		</ul>
	
	</div>




