<div ng-show="show&&!loading" class="preloader-wrap" ng-show="loading" >
	<img class="preloader" src="images/preloader-img.png">
	<span class="preloader-text"></span>
</div>	


<div ng-hide="show&&!loading" id="manageProfile" class="manage-profile">	
	<section class="gp-user-profile-banner" style="background-image:url('{{userData.cover}}');">

		<span class="gp-input-file" data-toggle="tooltip" title="Insert Banner">
			<span ng-show="isEdit" class="btn btn-primary btn-file">
				<i class="fa fa-camera"></i> <input  formType="profileCover" type="file" name="banner" id="" title=" " cover-pic-upload accept="image/*">
			</span>
		</span>


		<header class="gp-user-profile-header">

			<div class="details-wrap">
				<div class="gp-user-profile-table">
					<div class="gp-user-pic-table-cell"> 

						<div class="user-pic-wrap">
							<img alt="" class="gp-user-pic" src="{{userData.profile_pic}}">

							<span  class="gp-input-file" data-toggle="tooltip" title="Insert Banner">
								<span ng-show="isEdit" class="btn btn-primary btn-file">
									<i class="fa fa-camera"></i> <input  accept="image/*"  formType="profilePic" type="file" name="banner" id="partypic" title=" " cover-pic-upload accept="image/*">
								</span>
							</span>
						</div>
					</div>
					<div class="gp-user-info-table-cell">
						<h4 class="gp-user-name">{{userData.username}}</h4>
						<p>{{userData.genre[0].display}}  <strong>{{userData.profile_type}}</strong></p>

					</div>
				</div>
			</div>

			<ul class="gp-user-profile-actions clearfix">
				<li><a target="_blank" class="btn btn-lg btn-primary call-to-action gp-user-profile-action view-profile-action" href="http://www.goparties.com/#/profile/{{userData._key}}">View Profile</a></li>
				<li><button ng-click="editAndUpdate(userinfo.$valid)" class="btn btn-lg btn-primary call-to-action gp-user-profile-action" type="button">{{buttonContent}}</button></li>
			</ul>



		</header>
	</section>

	<div class="container-fluid max-width">
		<div class="shadowing-widget">
			<h3 class="widget-heading">{{shadowing.length}} Shadowing</h3>
			<ul class="shadowing-list">
				<li ng-repeat="shadow in shadowing">
					<img src="{{shadow.profile_pic}}">
				</li>
				
			</ul>
		</div>

		<div class="gp-user-profile-frm-wrapper">
			<form name="userinfo">
				<div class="gp-form-group-row row">
					<div class="col-sm-12">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Name</label>
							<input name="name" ng-disabled="!isEdit" ng-model="userData.name" class="gp-input-control" type="text" value="Soi 7 Pub & Brewery" placeholder="Name" required>
							<span class="invalidText" ng-show="(userinfo.name.$invalid&&userinfo.name.$dirty)||(isSubmit&&userinfo.name.$invalid)">Name must be required</span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Username</label>
							<input ng-model="userData.username" class="gp-input-control" type="text" value="Soi 7" disabled="" placeholder="Username">
						</div>
					</div>	

					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Profile Type</label>
							<input ng-model="userData.profile_type" class="gp-input-control" type="text" value="Party Place" disabled="" placeholder="Profile Type">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Genre</label>
							<md-content  class="gp-input-control" layout="column"><md-contact-chips
								md-enable-chip-edit="isEdit"
								readonly="!isEdit"
								ng-model="userData.genre"
								ng-change=""
								md-contacts="searchGenreandTheme($query,'loadGenre')"
								md-contact-name="name"
								md-contact-image="image"
								md-contact-email="email"
								md-require-match="true"
								md-highlight-flags="i"
								filter-selected="true"
								>
							</md-contact-chips>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Theme</label>
							<md-content  class="gp-input-control" layout="column"><md-contact-chips
								md-enable-chip-edit="isEdit"
								readonly="!isEdit"
								ng-model="userData.theme"
								ng-change=""
								md-contacts="searchGenreandTheme($query,'loadTheme')"
								md-contact-name="name"
								md-contact-image="image"
								md-contact-email="email"
								md-require-match="true"
								md-highlight-flags="i"
								filter-selected="true"
								>
							</md-contact-chips>
						</div>
					</div>	

					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Contact Name</label>
							<input ng-disabled="!isEdit" ng-model="userData.contactname" class="gp-input-control" type="text" placeholder="Contact Name">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Contact Email</label>
							<input ng-pattern="validate.email" name="email" ng-disabled="!isEdit" ng-model="userData.email" class="gp-input-control" type="email" placeholder="Contact Email*" required>
							<span class="invalidText" ng-show="(userinfo.email.$invalid&&userinfo.email.$dirty)||(isSubmit&&userinfo.email.$invalid)">email must be valid</span>
						</div>
					</div>	

					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Contact Phone</label>
							<input ng-pattern="validate.phone" name="phone" ng-disabled="!isEdit" ng-model="userData.phone" class="gp-input-control" type="text" placeholder="Contact Phone*" required>
							<span class="invalidText" ng-show="(userinfo.phone.$invalid&&userinfo.phone.$dirty)||(isSubmit&&userinfo.phone.$invalid)">Phone number must be valid</span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group gp-form-group">	
							<label class="gp-input-label">Website</label>
							<input ng-disabled="!isEdit" ng-model="userData.website" class="gp-input-control" type="text" placeholder="Website">
						</div>
					</div>	
					
					<div class="col-sm-12">
						<div class="form-group gp-form-group">
							<label class="gp-input-label">Address</label>
							<input ng-disabled="!isEdit" ng-model="userData.address" class="gp-input-control" type="text" placeholder="Address">
						</div>
					</div>

				</div>	

			</form>
		</div>	

	</div>

</div>	


<!--
	<div class="smm-intro-banner">
		<article>
			<div class="article-body">		
				<h1 class="article-heading">Social Media Management</h1>
				<p>Create Post on GoParties and also share on Facebook, Twitter and Instagram</p>
			</div>
			<figure class="article-figure smm-media">
				<img alt="" src="images/gp-create-post-figure.png">	

				<figcaption class="smm-media-action">
					<button class="btn btn-lg call-to-action connect-btn">Create Post</button>	
				</figcaption>
			</figure>
		</article>

	</div>




<div class="container-fluid min-width">

	<div class="smm-connect-media">
		<figure class="article-figure smm-media">
			
			<span class="smm-media-icon facebook-media-icon">
				<i class="fa fa-facebook"></i>	
			</span>	

			<figcaption class="smm-media-action">
				<button class="btn btn-lg call-to-action connect-btn">Connect</button>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</figcaption>
		</figure>

		<figure class="article-figure smm-media">
			<span class="smm-media-icon twitter-media-icon">
				<i class="fa fa-twitter"></i>	
			</span>	

			<figcaption class="smm-media-action">
				<button class="btn btn-lg call-to-action connect-btn">Connect</button>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</figcaption>
		</figure>

		<figure class="article-figure smm-media">
			<span class="smm-media-icon instagram-media-icon">
				<i class="fa fa-instagram"></i>	
			</span>	

			<figcaption class="smm-media-action">
				<button class="btn btn-lg call-to-action connect-btn">Connect</button>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</figcaption>
		</figure>



	</div>


	<div class="also-post-on-widget">
		<h2 class="widget-heading">Also Post On</h2>
		<social-media-button></social-media-button>
	</div>

	<div class="align-center cf-call-to-action">
	    <button class="btn btn-lg btn-primary call-to-action" type="button">Publish</button>
	</div>
	
</div>
-->