<div class="changePasswordOuter">
<div class="changePasswordInner">
<form class="form" name="resetform">
    <h3 class="b-form-heading">
    <i class="fa fa-lock" aria-hidden="true"></i>Change Password</h3>
    <div class="form-groups">
    <div class="form-group">
        <div class="form-line">
            <input name="password" type="password" ng-model="resetobj.oldpassword" name="one time password" placeholder="Enter Old Password" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-line">
            <input name="password" type="password" ng-model="resetobj.newpassword" name="one time password" placeholder="Enter New Password" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-line">
            <input  name="confirmpassword"  type="password" ng-model="resetobj.confirmpassword" name="one time password" placeholder="Confirm New Password" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <button type="submit" class="btn btn-login btn-block font-bold" ng-click="reset(resetobj,resetform.$valid)">Submit</button>
    </div>
</form>
</div>
</div>