<form id="form_validation" name="adduserform" add-user-directive validation-directive>
    <!-- add-user-directive -->
    <div class="container-fluid">
        <div class="sec-headingr">
          <h2 class="heading-type">Add a new User to access the Dashboard</h2>
        </div>
        <!-- Input -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2 class="header-type">
                Select the role carefully..!!
                <small>Be smart, it means a lot to me</small>
              </h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-sm-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <div class="form-line">
                      <input ng-model="user.name" type="text" class="form-control" placeholder="Name of the user" required/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <div class="form-line">
                      <input name="email" type="email" ng-model="user.email" class="form-control" placeholder="Email-ID" required/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12 col-md-6">
                  <select name="role" ng-model="user.role" class="form-control show-tick" required selectpicker>
                    <option value="">--Select the role for the user--</option>
                    <option value="admin">Admin</option>
                    <option value="sales">Sales</option>
                    <option value="marketing">Marketing</option>
                    <option value="finance">Finance</option>
                  </select>
                </div>
              </div>
              <div class="panel-end">           
                  <button class="btn bg-red btn-lg waves-effect" ui-sref="/users"  formnovalidate>Cancel</button>
                  <button class="btn bg-base btn-lg m-l-10 waves-effect" type="submit" ng-click="isedit==true?updateuser(user,adduserform.$valid):adduser(user,adduserform.$valid)" >{{isedit==true?'Update User':'Add User'}}</button>
              </div>
            </div><!-- Close Body -->
          </div><!-- Close Card -->
        </div><!-- Close Col -->
      </div><!-- Close ROw -->
    </div><!-- Close Container -->
</form>
