<form method="POST" add-user-directive>
    <div class="container-fluid">
        <div class="sec-heading">
            <h2 class="heading-type">Partymon users</h2>
        </div>
        <div class="row">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="panel-header">
                        <h2 class="header-type">Signup user</h2>
                        <button type="submit" ng-click="$parent.filterdata(filterobj,paginationcount)" class="btn bg-dark pull-right waves-effect hidden-xs">Apply Filters</button>
                        <button type="button" class="btn bg-dark waves-effect visible-xs navbar-toggle filterToggle" data-toggle="collapse" data-target="#filterCollapse">filter<i class="fa fa-filter filter-icon" aria-hidden="true"></i></button>
                    </div>
                    <div class="body">
                        <div class="row collapse navbar-collapse" id="filterCollapse">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-model="filterobj.keyword" type="text" class="form-control" placeholder="Keyword" />
                                    </div>
                                </div>
                            </div>
                          <!--   <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select ng-model="filterobj.signupby" class="form-control show-tick">
                                          <option value="">Signup By</option>
                                          <option value="all">All</option>
                                          <option value="email">email</option>
                                          <option value="phone">Phone</option>
                                      </select>
                                  </div>
                              </div>
                          </div> -->
                          <div class="col-sm-4 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">date_range</i>
                                </span>
                                <div class="form-line">
                                    <input name="startdate" ng-model="filterobj.startdate" type="text" class="datepicker form-control" placeholder="Start Date ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="material-icons">date_range</i>
                              </span>
                              <div class="form-line">
                                <input name="enddate" ng-model="filterobj.enddate" type="text" class="datepicker form-control" placeholder="End Date ">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" ng-click="$parent.filterdata(filterobj)" class="btn bg-dark pull-right waves-effect visible-xs">Apply Filters</button>
                    </div>
                </div>
                <div class="row" ng-controller="parentController">
                    <div class="col-lg-12" ng-init="paginationinit($parent.filterobj,paginationcount)">
                        <div class="pull-right m-t-5">
                            <span ng-if="filterobj.since>=paginationcount" ng-click="prev($parent.filterobj,paginationcount)">
                                <button type="button" class="btn">Prev</button>
                            </span>
                            <span ng-if="partymonsignup.length>=paginationcount" ng-click="next($parent.filterobj,paginationcount)" class="m-l-10">
                                <button type="button" class="btn">Next</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email id</th>
                                <th>Promocode</th>
                                <th>Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate-repeat" ng-repeat="signupuser in partymonsignup">
                                <td>{{$parent.indexcalculate($index,filterobj.since)}}</td>
                                <td><img src="{{signupuser.profile_pic}}" class="profile-pic-admin">{{signupuser.name}}</td>
                                <td>{{signupuser.phone}}</td>
                                <td>{{signupuser.email}}</td>
                                <td>{{signupuser.signup_code}}</td>
                                <td>{{signupuser.createdat|timeStampToDate|calendarDateTimeFormat:' ':true}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-controller="parentController">
                    <div class="col-sm-12" ng-init="paginationinit($parent.filterobj,paginationcount)">
                     <div class="pull-right m-t-5">
                      <span ng-if="filterobj.since>=paginationcount" ng-click="prev($parent.filterobj,paginationcount)">
                        <button type="button" class="btn">Prev</button>
                    </span>
                    <span ng-if="partymonsignup.length>=paginationcount" ng-click="next($parent.filterobj,paginationcount)" class="m-l-10">
                        <button type="button" class="btn">Next</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Close Card -->
</div>
<!-- Close col -->
</div>
<!-- Close Row -->
</div>
<!-- Close Container -->
</form>