  <form method="POST" id="" add-user-directive>
    <div class="container-fluid">      
      <div class="sec-heading newBkngHdr">
        <h2 class="heading-type">We have got the entire list of bookings for the {{typeobj.profile_type==undefined?'party':typeobj.profile_type}}</h2>
        <button ng-click="newbooking(typeobj)" class="btn bg-pink pull-right waves-effect">New Booking</button>
      </div>

    
      <div class="row clearfix">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header respHdr">
              <h2>Title : "{{typeobj.title||typeobj.name}}" </h2>
              <div class="pull-right pullLeft">
                <div class="switch panel-switch-btn">
                  <button type="submit" ng-click="getallorders(filterobj)" class="btn bg-dark btn-block waves-effect">Apply Filters</button>
                                <!-- span class="m-r-10 font-12">REAL TIME</span>
                                <label>OFF<input type="checkbox" id="realtime" checked=""><span class="lever switch-col-cyan"></span>ON</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="body">
                            <div class="row clearfix">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <div class="form-line">
                                    <input ng-model="filterobj.keyword" type="text" class="form-control" placeholder="Keyword" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <div class="form-line">
                                    <select ng-model="filterobj.status" class="form-control show-tick">
                                      <option value="">Status</option>
                                      <option value="all">All</option>
                                      <option value="confirmed">Confirmed</option>
                                      <option value="pending">Pending</option>
                                      <option value="cancelled">Cancelled</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="material-icons">date_range</i>
                                  </span>
                                  <div class="form-line">
                                    <input name="startdate" ng-model="filterobj.startdate" type="text" class="datepicker form-control" placeholder="Start Date ">
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="material-icons">date_range</i>
                                  </span>
                                  <div class="form-line">
                                    <input name="enddate" ng-model="filterobj.enddate" type="text" class="datepicker form-control" placeholder="End Date ">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-12">
                                <div class="specification">
                                  <span>Confirmed / Head Count</span>
                                  <span>Pending</span>
                                  <span>Cancelled</span>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <ul class="details-container clearfix">
                                  <revenue-card revenue={{detail}} ng-repeat="detail in details"></revenue-card>
                                </ul>
                              </div>               
                            </div><!--END ROW-->
                          </div>
                        </div>
                      </div>
                      <!-- #END# Task Info -->
                    </div>
                  </div>
                  <!-- #END# Task Info -->
                </div>
              </div>

            </div>
          </form>
          
