<div id="location-box" class="modal fade" role="dialog" >
  <div class="modal-dialog location-modal">
    <div class="modal-content">      
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row bodyContent">
          <div class="col-sm-5 col-xs-12 location-img">
            <img src="https://s3.ap-south-1.amazonaws.com/gpcaweb/images/location-img-icon.png">
          </div>
          <div class="col-sm-7 col-xs-12 city-details">
            <div class="row location-city-container">
              <div ng-click="changelocation('delhi-ncr','28.6139','77.2090')" class="col-xs-12 city-img">
               <a href="#"><p class="city-box delhi-city"></p>
                 <p class="location-type">Delhi NCR</p></a>
               </div>

               <div ng-click="changelocation('mumbai','19.0760','72.8777')" class="col-xs-6 city-img">
                <a href="#"><p class="city-box m-control mumbai-city" ></p>
                  <p class="location-type m-control">Mumbai</p></a>
                </div>
                <div ng-click="changelocation('hyderabad','17.3850','78.4867')" class="col-xs-6 city-img">
                  <a href="#"><p class="city-box h-control hyderabad-city"></p>
                    <p class="location-type h-control">Hyderabad</p></a>
                  </div>
                  <div ng-click="changelocation('pune','18.5204','73.8567')" class="col-xs-4 city-img">
                    <a href="#"> <p class="city-box pune-city"></p>
                      <p class="location-type">Pune</p></a>
                    </div>
                    <div ng-click="changelocation('bangalore','12.9716','77.5946')" class="col-xs-4 city-img">
                      <a href="#"><p class="city-box bangalore-city"></p>
                        <p class="location-type">Bangalore</p></a>
                      </div>
                      <div ng-click="changelocation('chennai','13.0827','80.2707')" class="col-xs-4 city-img">
                        <a href="#"><p class="city-box chennai-city"></p>
                          <p class="location-type">Chennai</p></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    
              </div>    
            </div>    
          </div>   